<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="" target="_blank">Harmandeep Singh</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Github Link:</div>
                <div class="col-md-10"><a href="" target="_blank"></a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Gmail Account</div>
                <div class="col-md-10"><a href="" target="_blank"></a></div>
            </div>
        </div>
    </div>
</div>
